/* Zoomable Mermaid SVG CSS */
.zoom-container {
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    position: relative;
}

.zoom-container svg {
    cursor: grab;
    transition: transform 0.2s;
    display: block;
    width: 100%;
    height: auto;
}


.mermaid-tooltip {
    position: absolute;
    background: black;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    max-width: 300px;
    font-size: 12px;
    pointer-events: auto;
    z-index: 10000;
}

.mermaid-tooltip a {
  color: inherit !important;
  text-decoration: underline;
}